<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TotalPizzas" value="50" />

		<add key="deep" value="2" />
		<add key="stuffed" value="1.5" />
		<add key="thin" value="1" />

		<add key="BaseCookTime" value="3000" />

		<add key="PizzaFile" value="/home/trinity/interviewtest/PizzaFactory/Logs/CookedPizza.txt" />
		
	</appSettings>
</configuration>